*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Layout and Positioning*/
.no-scroll{
    overflow: hidden;
}
.header{
    width: 100%;
    position: fixed;
    padding: 3% 4% 1%;
    top: 0;
}
.logo{
    display: inline-block;
}
.nav__inner{
    margin: 0 auto;
    height: 0;
}
.nav__inner--open{
    margin: 0 auto;
    height: 40em;
}
.nav__menu-icon{
    padding: 0.3em 0.1em;
    width: 2em;
    height: 2em;
}
.nav__bar{
    width: 100%;
    display: block;
    height: 0.3em;
    margin-bottom: 0.2em;
}
.nav__bar--crossed{
    display: block;
    width: 100%;
    height: 0.3em;
    margin-bottom: 0.2em;
}
.nav__item:nth-child(1){
    margin-top: 3em;
}
.home__title{
    padding: 2.5em 0.4em 0.4em;
}
.home__divider{
    margin-left: 1.6em;
    margin-bottom: 1.2em;
    width: 10%;
}
.home__body__inner{
    width: 85%;
    margin-left: 1.2em;;
}
.home__paragraph{
    padding-bottom: 2em;

}
.portfolio{
    padding: 1em 0.5em 2em;
}
.portfolio__title{
    margin-bottom: 0.5em;
}
.card{
    margin: 1em 0;
}
.card__title{
    padding-left: 0.1em;
}
.card__img-container{
    min-height: 9em;
}
.card__description{
    margin: 0.4em 0.1em;
}
.contact__inner{
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
}
.contact__title{
    padding: 1em 0;
}
.contact__link-container{
    margin: 0.3em 0 1em;
}
.form{
    width: 95%;
    max-width: 700px;
    margin: 2em auto;
}
.form__legend{
    padding: 0.7em 1em 0.7em;
}
.form__input-container{
    margin: 0.2em 0 0.9em;
}
.form__input{
    width: 95%;
    padding-left: 0.5em;
}
#form__body{
    min-height: 10em;
}
#form__submit{
    width: 95%;
}


/*Appearance*/
.header{
    background-color: #178ff9;
}
.logo{
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.5em;
}
.nav{
    text-align: center;
    letter-spacing: 0.2em;
}
.nav__inner{
    list-style-type: none;
    overflow: hidden;
    transition: max-height .2s ease-out;
}
.nav__inner--open{
    list-style-type: none;
}
.nav__checkbox{
    display: none;
}
.nav__menu-icon{
    cursor: pointer;
    display: inline-block;
    float: right;
    user-select: none;
}
.nav__bar{
    background: #fff;
    transition: all .3s linear;
}
.nav__bar--crossed{
    background: #fff;
    transition: all .3s linear;
}
.nav__bar--crossed:nth-child(1){
    transform: rotate(-45deg) translate(-0.35em, 0.35em);
}
.nav__bar--crossed:nth-child(2){
    opacity: 0;
}
.nav__bar--crossed:nth-child(3){
    transform: rotate(45deg) translate(-0.35em, -0.35em);
}
.nav__item{
    line-height: 3em;
    font-size: 1.5em;
}
.nav__link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bold;
}
.home{
    background-color: #178ff9;
}
.home__title{
    font-weight: bold;
    font-size: 2.5em;
    font-family: Montserrat;
}
.home__divider{
    border: 3px solid;
}
.home__body{
    font-family: "Open Sans";
}
.home__link{
    color: #fff;
}
.portfolio{
    background-color: #333;
}
.portfolio__title{
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-align: center;
}
.card{
    border: 1px #fff solid;
    border-radius: 1px;
    background: #fff;
}
.card a{
    text-decoration: none;
    color:#000;
}
.card__title{
    text-align: left;
    text-transform: capitalize;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 2em;
}

.card__title {
    font-size: 1.1em;
}
.card__img-container{
    border: 1px solid #222;
}
.card__description{
    text-align: left;
    font-family: "Open Sans";
    font-size: 0.9em;
}
.card__link{
    text-decoration: underline;
}
.contact{
    text-align: center;
    background-color: #d4410a;
}
.contact__inner{
    text-align: center;
}
.contact__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Montserrat;
}
.contact__label{
    font-family: "Open Sans";
    font-weight: bold;
    color: #111;
}
.contact__link-container{
    font-family: Roboto;
    font-size: 1.2em;
}
.contact__link{
    color: #fff;
}
.form{
    border: 2px solid #222;
}
.form__legend{
    font-family:"Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
}
.form__label-container{
    color: #111;
    font-weight: bold;
    font-family: "Open Sans";
}
.form__input{
    border: none;
    border-radius: 1px;
    line-height: 2em;
    color: #333;
    font-size: 1.1em;
}
#form__submit{
    line-height: 1.5em;
    border: none;
    border-radius: 1px;
    font-weight: bold;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 1.3em;
    cursor: pointer;
    color: #fff;
    background: #222;
    letter-spacing: 0.15em;
}
#form__submit:hover{
    background: #000;
}

/*Media Queries*/
@media only screen and (min-width:900px){
    .no-scroll{
        overflow: auto;
    }
    .header{
        padding: 1.2% 3%;
    }

    .nav__menu-icon{
        display: none;
    }
    nav{
        display: inline-block;
        width: auto;
        float: right;
        margin-top: 0.7%;
        width: 60%;
    }
    .nav__inner{
        margin: 0;
        height: 1em;
        text-align: right;
    }
    .nav__inner--open{
        margin: 0;
        height: 1em;
        text-align: right;
    }
    .nav__item{
        font-size: 1em;
        line-height: 1em;
        display: inline-block;
        width: 20%;
        text-align: center;
    }
    .nav__item:nth-child(1){
        margin: 0;
    }
    .nav__link{
        font-size: 1.1em;
        letter-spacing: 0
    }
    .home__title{
        padding-top: 3.5em
    }
    .home__divider{
        width: 5%;
    }
    .home__body__inner:last-child{
        padding-bottom: 5%;
    }
    .card-container{
        width: 49.5%;
        display: inline-block;
    }
    .card{
        width: 85%;
        margin: 1em auto;
    }
}